<ol class="post-list">
    {{#each reviews as |review| }}
  <li>
    <article class="post">
  <div class="title">
      <a href="/post/{{id}}"
      <h1>{{movieTitle}}</h1>
      </a>
  </div>
  <h5>
      {{reviewTitle}}
  </h5>
  <p>
      {{content}}
  </p>
  <div class="meta">
    |
    Reviewed by {{user.username}}
    |
  </div>
</article>
  </li>
  {{/each}}
</ol>