<div class="card">
  <div class="card-body bg-warning">

<ol class="post-list border border-primary border-3 rounded">
    {{#each reviews as |review| }}
  <li>
    <article class="post">
  <div class="title">
      <a href="/post/{{id}}" class="link-danger h3"
      <h1>{{movieTitle}}</h1>
      </a>
  </div>
  <h5 class="h5">
      {{reviewTitle}}
  </h5>
  <p>
      {{content}}
  </p>
  <div class="meta text-primary">
    |
    Reviewed by {{user.username}}
    |
  </div>
</article>
  </li>
  {{/each}}
</ol>

  </div>
</div>