
<div id="moviePoster"></div>
<article class="review">
    <div class="title">
        <h1 id="movieTitle">{{review.movieTitle}}</h1>
        <div id="movieYear"></div>
        <h4>{{review.reviewTitle}}</h4>
    </div>
    <p>
        {{review.content}}
    </p>
    <div class="meta">
     by {{review.user.username}} on
    {{review.created_at}}
    |
    <a href="/reviews/{{review.id}}">{{review.comments.length}} comment(s)</a>
    </div>
  {{#if loggedIn}}
  <form class="comment-form">


    <h2 id="movie-review-title">Review: </h2>
    <span id="date-posted">Date Posted:</span>

    <div id="movie-poster"</div>
    <span id="year-released">Year Released: </span>

    <span id="movie-information">
      <h3>Movie Review</h3>
      
      <hr>

      <textarea name="review-body"></textarea>
      
    </span>

    <button type="submit">Upvote</button>

    <button type="submit">Downvote</button>

    <div id="votes-counter">Upvotes/Downvotes</div>
  
  </section>


<div class="comments">
  {{#each review.comments}}
  <section class="comment">
    <div class="meta">
      {{user.username}} on {{created_at}}

    </div>
    <div>
        <button type="submit">Add Comment</button>
    </div>
</form>
{{/if}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>

<script src="/javascript/movie-data.js"></script>
{{/if}}

