<div id="moviePoster"></div>
<article class="review">
    <div class="title">
        <h1 id="movieTitle">{{review.movieTitle}}</h1>
        <div id="movieYear"></div>
        <h4>{{review.reviewTitle}}</h4>
    </div>
    <p>
        {{review.content}}
    </p>
    <div class="meta">
     by {{review.user.username}} on
    {{review.created_at}}
    |
    <a href="/reviews/{{review.id}}">{{review.comments.length}} comment(s)</a>
    </div>
  {{#if loggedIn}}
  <form class="comment-form">

  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>

    <button type="submit">add comment</button>
    <button type="button" class="upvote-btn">This guy gets it!</button>
  </div>
</form>
{{/if}}

<div class="comments">
  {{#each review.comments}}
  <section class="comment">
    <div class="meta">
      {{user.username}} on {{created_at}}
    </div>
    <div class="text">
      {{comment_text}}
    </div>
  </section>
  {{/each}}
</div>
</article>

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/movie-data.js"></script>
{{/if}}
